# ignore Python cache files
topoBoxPy/__pycache__/
topoBoxPy/flow_mixins/__pycache__/
topoBoxPy/grid_mixins/__pycache__/
topoBoxPy/stream_mixins/__pycache__/

# ignore Visual Studio Code settings
.vscode/

# ignore CMakeFiles
topoBoxC/CMakeFiles/
topoBoxC/cmake_install.cmake
topoBoxC/CMakeCache.txt
